body, .inner-page {
    margin: 0 auto;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;
    width: 1200px;
}
.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0,1,1,0.2);
            box-shadow: 0 0 15px rgba(0,1,1,0.2);
}
a {
    text-decoration: none;
}
.main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    position: relative;
    padding: 0;
    margin: 0;
    margin-top: 2px;
}
.main-navigation__list {
    list-style: none;
    line-height: 50px;
    padding: 0;
    margin: 0;
    width: 1200px;
}
.main-navigation__list a{
    color: #000000;
}
.main-navigation__list a:hover {
    color: #81b3d2;
}
.main-navigation__list a:active{
    color: #999999;
   
}
.main-navigation__link--logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -70px;
    z-index: 999;
}
.welcome {
    background-image: url("../img/bg-back-desktop.jpg");
    background-repeat: no-repeat;
    color: #000000;
    background-size: cover;
    margin-top: -10px;

}
.welcome__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 507px;
    background-image: url("../img/polygon.png");
    background-repeat: no-repeat;
    background-position: center 450px;
}
.welcome__picture {
    text-align: center;
    margin: auto;
    margin-top: 78px;
    
}
.welcome__title {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    max-width: 444px;
    margin-bottom: 14px;
}
.welcome__p {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    max-width: 496px;
    margin-left: -4px;
    
}

.intro {
    margin-bottom: 40px;
    margin-top: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.features {
    margin-top: -5px;
}
.features__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding: 0;
}
.features__sublist {
    list-style: none;
    padding: 0;
}
.features__number::before {
    content: "—" 
}
.features__number::after {
    content: "—" 
}
.features__number {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    margin-top: 10px; 
    margin-left: -55px;
}
.features__number--second {
    margin-top: 20px;
    margin-bottom: 20px;
}
.features__number--last {
    margin-top: 22px;
    margin-left: 1px;
}

.features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.features__item--banner {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
}
.features__item--banner-bridge {
    margin-top: 10px;
}
.features__item{
    -ms-flex-preferred-size: 33.3%;
        flex-basis: 33.3%;
}
.features__icon {
    display: block;
    margin-left: 88px;
    margin-right: auto;
    margin-top: 62px;
    margin-bottom: 30px;
}
.features__icon--gifts {
    margin-top: 58px;
    margin-bottom: 25px;
    margin-left: 95px;

}

.features__title {
    font-size: 21px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    margin: auto;
    padding: 0;
    margin-top: 5px;
    
    width: 166px;
}
.features__title--gifts {
    margin-left: 45px;
    margin-bottom: 5px;
}
.features__title--tourists {
    width: 101px;
}
.features__title--city {
    width: 125px;
    margin-top: 50px;
    margin-left: 80px;
    margin-bottom: 22px;
}
.features__title--home {
    font-size: 21px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    margin: auto;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 44px;
}
.features__title--food {
    margin-top: -1px;
    margin-bottom: 5px;
    width: 166px;
    margin-left: 44px;
}

.features__text {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    max-width: 400px;
    margin: 0;
    margin-top: 18px;
    margin-left: -9px;
}
.features__text--home {
    margin-left: -13px;
    margin-right: 30px;
}
.features__text--food {
    margin-left: -25px;
    margin-right: 15px;
}
.features__text--last {
    margin-left: 50px;
}
.features__text--three {
    margin-left: 14px;
    margin-right: 5px;
}
.features__text--four{
    margin-left: 15px;
    margin-right: 15px;
}
.features__text--five {
    margin-left: 21px;
    margin-right: 20px;
}
.features__title--bridge {
    width: 154px;
    margin-top: 49px;
   margin-left: 65px;
   margin-bottom: 10px;
}
.features__item--banner {
    color: #ffffff;
    background-color: #81b3d2;
}
.features__text--gifts {
    margin-left: -20px;
    margin-right: 20px;

}
.features__text--city {
    margin-right: 50px;
    margin-left: -5px;
    margin-top: 19px;
}
.features__text--bridge {
    margin-right: 46px;
    margin-left: -10px;
    margin-top: 0px;
}
.features__item {
    background-color: #eeeeee;
}
.features__item:nth-child(-n+4) {
    background-color: #ffffff;
}
.search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.search__container {
    margin-top: 41px;
    margin-bottom: 34px;
}
.search__container-form {
    width: 570px;
    height: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 100;
    
    
      
}
.search__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    margin-bottom: 30px;
}
.map__picture {
    position: absolute;
    z-index: -1;
    top: 85px;
    
   

}
.search__name {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    background-color: #766357;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.search__name:hover {
    background-color: #604e43;
}
.search__name:active {
    background-color: rgba(80, 60, 51, 0.5);
}
.search__text {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    max-width: 439px;
    margin-bottom: 10px;
}
.search__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
}
.search__check-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 466px;
    margin-bottom: 35px;
    margin-top: 55px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 38.5px;
    
}
.search__out {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 466px;
    margin-bottom: 35px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 40px;
    
}
.search__amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 466px;
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.search__amount--adults {
    width: 233px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 47px;
}
.search__amount--kids {
    width: 233px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 47px;
}
.search__label {
    margin-top: 7px;
    margin-left: 15px;
    padding-left: 5px;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}
.search__label--adults {
    margin-right: 41px;
    margin-left: 47px;
    padding: 0;
}
.search__label--kids {
    margin-right: 10px;
    margin-left: 96px;
    padding: 0;
}
.search__input--long {
    font: inherit;
    background-color: #f2f2f2;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 346px;
    height: 38px;
    padding-top: 5px;
    padding-left: 11px;
    padding-right: 8px;
    padding-bottom: 8px;
    border: none;
    position: absolute;
    z-index: 1;
    right: 70px;
    margin-right: -15px;
   
}
.search__calendar {
    position: relative;
    z-index: 5;
   right: 0px;
    top: 9px;
}
.search__input--short {
    font: inherit;
    background-color: #f2f2f2;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 38px;
    width: 115px;
    text-align: center;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    padding-left: 20px;
    margin-right: -45px;
    margin-left: 0px;
    padding-right: 10px;
   
    
}
input::-webkit-input-placeholder{
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
}
.search__button {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background-color:#81b3d2;
    border: none;
    margin-left: 58px;
    margin-right: 58px;
    margin-top: 25px;
    padding-left: 195px;
    padding-right: 195px;
    padding-top: 17px;
    padding-bottom: 22px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    height: 20px;
    margin-bottom: 70px;
}
.search__plus-minus {
    border: none;
    width: 39px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f2f2f2;
    
    
}
.control {
    position: relative;
    padding: 0;
    cursor: pointer;
    
  }
  
  .control--minus::before, .control--plus::after {
      content: "";
      position: absolute;
      top: 14px;
      left: 17px;
      width: 3px;
      height: 11px;
      border-radius: 1px;
      background-color: #a9a9a9;
  }
  
  .control--plus::before {
      content: "";
      position: absolute;
      top: 18px;
      left: 13px;
      width: 12px;
      height: 3px;
      border-radius: 1px;
      background-color: #a9a9a9;
  }
  
  .control--minus::before {
      top: 18px;
      left: 13px;
      width: 12px;
      height: 3px;
  }
   
  button {
    border: none;
    background: none;
  }   


.search__button:hover {
    background-color: #669ec0;
}
.search__button:active {
    background-color: rgba(84, 150, 189, 0.5);
}
.search__input:hover {
    background-color: #ebebeb;
}
.search__input:focus {
    background-color: #ffffff;
}
.main-footer {
    color: #000000;
    background-color: #ffffff;
    margin-top: 112px;
    margin-bottom: 36px;
}
.main-footer__inner {
    margin-top: 30px;

}
.main-footer__hashtag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 397px;
}
.main-footer__text {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    margin-top: -15px;
}
.social {
    list-style: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 160px;
    margin-top: 10px;
    margin-bottom: 36px;
}
.social__button {
    font: inherit;
    color: #ffffff;
    background-color: #81b3d2;
    width: 46px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 6px;
    padding: 0;
    margin-top: -4px;
}
.social__button:hover, .social-button:focus {
    background-color: #669ec0;
}
.social__button:active {
    background-color: rgba(84, 150, 189, 0.5);
}
.social__button:active path {
    background-color: rgba(84, 150, 189, 0.5);
}
.footer-copyright b{
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    display: block;
    margin-bottom: 15px;
    margin-top: -25px;
}
.footer-copyright {
    margin: 0;
    width: 300px;
    margin-left: 88px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer-copyright a {
    color: #000000;
    margin-left: 9px;
    margin-top: -30px;
}
.footer-copyright a:hover {
    color: #81b3d2;
}
.footer-copyright a:active {
    color: #bdbbbc;
}
.inner-page {
    color: #000000;
    background-color: #ffffff;
}
.filter {
    background-image: url(../img/fbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 217px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    margin-top: 5px;
}
.filter__item {
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    margin-bottom: 26px;
    padding: 0;
    margin: 0;
}
.filter__subitem {
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}
.filter__button {
    color: #ffffff;
    border: solid 1px #ffffff;
    background-color: transparent;
    font-size: 14px;
    line-height: 21px;
    padding: 11px 35px;
    text-transform: uppercase;
}
.filter__button:hover {
    background-color: #ffffff;
    color: #000000;
}
.filter__range {
    width: 350px;
    margin-right: 40px;
    margin-top: 30px;
    margin-left: auto;
    color: #ffffff;
    text-transform: uppercase;
}
.filter__range--title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}
.price__controls {
    height: 30px;
    width: 315px;
    margin-bottom: 20px;
    font-size: 0;
    position: relative;
    border: 2px solid #ffffff;
    border-radius: 2px;
}
.price__controls::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background: #ffffff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.price__controls label {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
}
.price__controls .min-price, .price__controls .max-price {
    width: 90px;
    padding-left: 65px;
}
.price__controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}
.range__controls {
    position: relative;
    margin-bottom: 32px;
    width: 315px;
}
.range__controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}
.range__controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}
.range-toggle {
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
    position: absolute;
    top: -9px;
}
.range-toggle-min {
    left: 0;
}
.range-toggle-max {
    left: 80%;
}
.range-toggle:hover {
    background: #1c4f80;
}
.btn__transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 85px;
}
.btn__transparent:hover {
    color: #000000;
    background: #ffffff;
}
.info__title {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    margin-left: 73px;
    font-weight: bold;
}
.info__sort, .info__subitem {
    list-style: none;
}
.info__sort {
    padding-left: 47px;
    padding-top: 9px;
}
.info__item {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    padding-left: 0px;
    padding: 0;
    margin: 0;
}

.info__subitem .info__subitem--link {
    color: rgba(0, 0, 0, 0.5); 
}
.info__subitem:first-child .info__subitem--link {
    color: #81b3d2;
  }
.info__subitem:not(:first-child) .info__subitem--link{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
    -webkit-text-decoration-color: rgba(0, 0, 0, 0.5);
            text-decoration-color: rgba(0, 0, 0, 0.5);
}
.info__subitem .info__subitem--link:hover {
    color: #81b3d2;
}
.info__subitem .info__subitem--link:active {
    color: #000000;
}



.info__subitem {
    margin-right: 33px;
}
.info__icon:first-child {
    fill: #cacaca;
    margin-right: 13px;
}
.info__icon:last-child {
    fill: #81b3d2;
}
.info__icon:hover {
    fill: #000000;
}
.info__icon:active {
    fill: #81b3d2;
}
.info__icon-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-left: auto;
    margin-right: 74px;
}
.rate-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: auto;
    margin-right: 74px;
   
}
.catalog__hotel {
    color: #000000;
    font-size: 21px;
    line-height: 26px;
    margin-top: 48px;
}
.catalog__hotel:hover {
    color: #81b3d2;
}
.catalog__hotel:active {
    color: rgba(0, 0, 0, 0.5);
}
.catalog__text {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}
.сatalog__link {
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    background-color:#81b3d2;
    border: none;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    padding-top: 4px;
    margin-right: 5px;
    width: 110px;
    height: 27px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.сatalog__link:hover {
    background-color: #669ec0;
    color: #ffffff;
}
.сatalog__link:active {
    background-color: rgba(84, 150, 189, 0.5);
    color: #ffffff;
}
.catalog__button {
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    background-color: #766357;
    border: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 142px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.catalog__button:hover {
    background-color: #604e43;
}
.catalog__button:active {
    background-color: rgba(80, 60, 51, 0.5);
}
.catalog__rate {
    background-color: #f2f2f2;
    color: #666666;
    font-size: 14px;
    line-height: 21px;
    height: 26px;
    width: 109px;
    text-align: center;
    display: block;
    
}
.catalog__stars {
    margin-top: 15px;
}

.main-navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
        
}
.main-navigation__item:nth-child(3) {
    margin-left: 80px;
}
.main-navigation__item:nth-child(n+2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.main-navigation__item:nth-child(-n+2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.main-navigation__item:nth-child(4) {
    margin-right: 70px;
}
.main-navigation__item:nth-child(1) {
    margin-left: 70px;
}
.main-navigation__item {
    width: 250px;
    height: 50px;
    margin-top: -5px;
}
.main-navigation__link--logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.main-header {
    height: 60px;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}
.features__item--banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.features__wrapper {
    
    margin-right: auto;
    margin-left: 57px;
}
.features__wrapper-last {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 53px;
}
.features__item-wrapper {
    max-width: 400px;
    margin-top: 0px;
    margin-right: 30px;
    margin-bottom: 73px;
    margin-left: 73px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.features__sublist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.features__item--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.main-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.filter__edit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.filter__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 217px;
    margin-top: -15px;
}
.filter__rate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: 168px;
}
.filter__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 29px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 50px;
}
.filter__sublist {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 40px;
    margin-top: 22px;
}
.filter__subitem {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 25px;
}
.info {
    height: 85px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
}
.info__sublist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.info__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.catalog__picture {
    margin-left: 73px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
}
.catalog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.catalog-wrapper {
    
            
    margin-top: 26px;
    
}
.catalog__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 150px;
    
    border-top: 2px solid #e5e5e5;
    max-width: 1205px;
}
.catalog__item:last-child {
    border-bottom: 2px solid #e5e5e5;
}
.catalog__title {
    margin: 0px;
    margin-bottom: 0px;
      
}
.catalog-wrapper--text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.catalog__text {
    position: relative;
    margin-right: 38px;
   
    margin-bottom: 14px;
    margin-top: 5px;
}
.catalog__text--price-motel {
    margin-left: 25px;
}
.catalog__text--price-apps{
    margin-left: -18px;
}
.catalog-wrapper--buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
}
.filter__checkbox {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.filter__input + .filter__checkbox::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: -40px;
    top: 2px;
}
.filter__input:checked + .filter__checkbox::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 2px;
    left: -40px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.map__google {
    border: none;
    width: 1200px;
    height: 470px;
    frameborder: 0;
}