body, .inner-page {
    margin: 0 auto;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;
    width: 1200px;
}
.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,1,1,0.2);
}
a {
    text-decoration: none;
}
.main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    position: relative;
    padding: 0;
    margin: 0;
}
.main-navigation__list {
    list-style: none;
    line-height: 50px;
    padding: 0;
    margin: 0;
    width: 1200px;
    
        
}
.main-navigation__list a{
    color: #000000;
    
   
    
}
.main-navigation__list a:hover {
    color: #81b3d2;
}
.main-navigation__list a:active{
    color: #999999;
   /*нужно уточнить цвет */
}
.main-navigation__link--logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -70px;
}
.welcome {
    background-image: url("../img/bg-back-desktop.jpg");
    background-repeat: no-repeat;
    color: #000000;
    background-size: cover;
}
.welcome__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 515px;
    background-image: url("../img/polygon.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    
    
}
.welcome__picture {
    text-align: center;
    margin: auto;
    margin-top: 75px;
}
.welcome__title {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    max-width: 444px;
}
.welcome__p {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    max-width: 496px;
}
.intro {
    margin-bottom: 35px;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.features__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding: 0;
}
.features__sublist {
    list-style: none;
    padding: 0;
}
.features__number::before {
    content: "—" 
}
.features__number::after {
    content: "—" 
}
.features__number {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    margin-top: 10px
    
}

.features__list {
    display: flex;
    flex-wrap: wrap;
      
}
.features__item--banner {
    flex-basis: 100%; 
}
.features__item{
    flex-basis: 33.3%;
}
.features__icon {
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    margin-bottom: 20px;
}
.features__title {
    font-size: 21px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    margin: auto;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 25px;
    width: 166px;
}
.features__title--tourists {
   width: 101px;
}    
.features__title--city {
    width: 125px;
    margin-top: 15px;
    
}
.features__title--home {
    font-size: 21px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    margin: auto;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 25px;
}
.features__text {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    max-width: 302px;
    margin: 0;
}
.features__title--bridge {
    width: 154px;
}
.features__item--banner {
    color: #ffffff;
    background-color: #81b3d2;
}
.features__item {
    background-color: #eeeeee;
}
.features__item:nth-child(-n+4) {
    background-color: #ffffff;
 }


.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search__container {
    margin-top: 35px;
    margin-bottom: 35px;
}
.search__container-form {
    width: 570px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    
}
.search__name {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    background-color: #766357;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.search__name:hover {
    background-color: #604e43;
}
.search__name:active {
    background-color: rgba(80, 60, 51, 0.5);
}
.search__text {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    max-width: 439px;
}
.search__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.search__check-in {
    display: flex;
    width: 466px;
    margin-bottom: 28px;
    margin-top: 60px;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}
.search__out {
    display: flex;
    width: 466px;
    margin-bottom: 30px;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}
.search__amount {
    display: flex;
    width: 466px;
    margin-bottom: 30px;
    justify-content: center;
}
.search__amount--adults {
    width: 233px;
    display: flex;
    margin-left: 47px;
}
.search__amount--kids {
    width: 233px;
    display: flex;
    margin-right: 47px;
}
.search__label {
   
    margin-bottom: 9px;
    margin-left: 15px;
    padding-left: 5px;
   
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}
.search__label--adults {
    margin-right: 25px;
    margin-left: 47px;
}
.search__label--kids {
    margin-right: 47px;
    margin-left: 56px;
}
.search__input--long {
    font: inherit;
    background-color: #f2f2f2;
    box-sizing: border-box;
    width: 345px;
    height: 38px;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 7px;
  
   

    border: none;
    background-image: url("../img/calendar.svg");
    background-position: 315px center;
    background-repeat: no-repeat;
    
     
}

.search__input--short {
    font: inherit;
    background-color: #f2f2f2;
    box-sizing: border-box;
    height: 40px;
    padding-top: 14px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 14px;
    border: none;
}
.search__button {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background-color:#81b3d2;
    border: none;
    margin-left: 58px;
    margin-right: 58px;
    margin-top: 15px;
    padding-left: 195px;
    padding-right: 195px;
    padding-top: 17px;
    padding-bottom: 22px;
    box-sizing: content-box;
    height: 20px;
}
.search__plus-minus {
    border: none;
}

.search__button:hover {
    background-color: #669ec0;
}
.search__button:active {
    background-color: rgba(84, 150, 189, 0.5);
}
.search__input:hover {
    background-color: #ebebeb;
}
.search__input:focus {
    background-color: #ffffff;
}
.main-footer {
    color: #000000;
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 36px; 
}
.main-footer__hashtag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 397px;
}
.main-footer__text {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}
.social {
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 160px;
    margin-top: 10px;
    margin-bottom: 36px;
    
   
}
.social__button {
    font: inherit;
    color: #ffffff;
    background-color: #81b3d2;
    width: 46px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    padding: 0;
}
.social__button:hover, .social-button:focus {
    background-color: #669ec0;
}
.social__button:active {
    background-color: rgba(84, 150, 189, 0.5);
}
.social__button:active path {
    background-color: rgba(84, 150, 189, 0.5);
}
.footer-copyright b{
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    display: block;
    margin-bottom: 15px;
}
.footer-copyright {
    margin: 0;
    width: 300px;
    margin-left: 88px;
    display: flex;
    align-items: center;
}
.footer-copyright a {
    color: #000000;
    margin-left: 9px;
}
.footer-copyright a:hover {
    color: #81b3d2;
}
.footer-copyright a:active {
    color: #bdbbbc;
}
.inner-page {
    color: #000000;
    background-color: #ffffff;
}
.filter {
    background-image: url(../img/fbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 217px;
    box-sizing: content-box;
    margin-top: 5px;
}
.filter__item {
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    margin-bottom: 26px;
}
.filter__subitem {
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}
.filter__button {
    color: #ffffff;
    border: solid 1px #ffffff;
    background-color: transparent;
    font-size: 14px;
    line-height: 21px;
    padding: 11px 35px;
    text-transform: uppercase;
}
.filter__button:hover {
    background-color: #ffffff;
    color: #000000;
}
.filter__range {
    width: 330px;
    margin-right: 60px;
    margin-top: 30px;
    margin-left: auto;
    color: #ffffff;
    text-transform: uppercase;
}
.filter__range--title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}
.price__controls {
    height: 30px;
    width: 315px;
    margin-bottom: 20px;
    font-size: 0;
    position: relative;
    border: 2px solid #ffffff;
    border-radius: 2px;
}
.price__controls::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.price__controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: middle;
    cursor: pointer;
}
.price__controls .min-price, .price__controls .max-price {
    width: 90px;
    padding-left: 65px;
}
.price__controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}
.range__controls {
    position: relative;
    margin-bottom: 32px;
}
.range__controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}
.range__controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}
.range-toggle {
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
    position: absolute;
    top: -9px;
}
.range-toggle-min {
    left: 0;
}
.range-toggle-max {
    left: 80%;
}
.range-toggle:hover {
    background: #1c4f80;
}
.btn__transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}
.btn__transparent:hover {
    color: #000000;
    background: #ffffff;
}
.info__title {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    margin-left: 73px;
    font-weight: bold;
}
.info__sort, .info__subitem {
    list-style: none;
}
.info__item {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    padding-left: 0px;
}
li .info__subitem:not(:first-child){
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: rgba(0, 0, 0, 0.5);
}
li .info__subitem:first-child{
    color: #81b3d2;
}
.info__subitem:hover {
    color: #81b3d2;
}
.info__subitem:active {
    color: #81b3d2;
}
.info__icon:first-child {
    fill: #cacaca;
    margin-right: 13px;
}
.info__icon:last-child {
    fill: #81b3d2;
}
.info__icon:hover {
    fill: #000000;
}
.info__icon:active {
    fill: #81b3d2;
}
.info__icon-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 74px;
}
.rate-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    margin-left: auto;
    margin-right: 74px;
}
.catalog__hotel {
    color: #000000;
    font-size: 21px;
    line-height: 26px;
}
.catalog__hotel:hover {
    color: #81b3d2;
}
.catalog__hotel:active {
    color: rgba(0, 0, 0, 0.5);
}
.catalog__text {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}
.сatalog__link {
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    background-color:#81b3d2;
    border: none;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    padding-top: 4px;
    margin-right: 5px;
    width: 110px;
    height: 27px;
    box-sizing: border-box;
}
.сatalog__link:hover {
    background-color: #669ec0;
    color: #ffffff;
}
.сatalog__link:active {
    background-color: rgba(84, 150, 189, 0.5);
    color: #ffffff;
}
.catalog__button {
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    background-color: #766357;
    border: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 142px;
    box-sizing: border-box;
}
.catalog__button:hover {
    background-color: #604e43;
}
.catalog__button:active {
    background-color: rgba(80, 60, 51, 0.5);
}
.catalog__rate {
    background-color: #f2f2f2;
    color: #666666;
   /*padding-top: 5px;
    padding-right: 13px;
    padding-bottom: 9px;
    padding-left: 16px;
   */
    font-size: 14px;
    line-height: 21px;
    height: 26px;
    width: 109px;
    text-align: center;
    display: block;
}
/* ----- Сеточные стили ----- */
.main-navigation__list {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
}
.main-navigation__item:nth-child(3) {
    margin-left: 85px;
}
.main-navigation__item:nth-child(n+2) {
    display: flex;
    justify-content: flex-end;
}
.main-navigation__item:nth-child(-n+2) {
    display: flex;
    justify-content: flex-start;
}
.main-navigation__item:nth-child(4) {
    margin-right: 70px;
}
.main-navigation__item:nth-child(1) {
    margin-left: 70px;
}
.main-navigation__item {
    width: 250px;
    height: 50px;
}
.main-navigation__link--logo {
    display: flex;
    justify-content: center;
}
.main-header {
    height: 50px;
    margin: 0;
    padding: 0;
}
.features__item--banner {
    display: flex;
}
.features__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 256px;
    max-width: 400px;
    margin-right: auto;
    margin-left: 57px;
}
.features__item-wrapper {
    max-width: 400px;
    margin-top: 0px;
    margin-right: 74px;
    margin-bottom: 73px;
    margin-left: 73px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
}
.features__sublist {
    display: flex;
}
.features__item--wrapper {
    display: flex;
}
/*размеры взяла из демки. не забудь исправить*/



.main-footer__container {
    display: flex;
}
.filter__edit {
    display: flex;
}
.filter__wrapper {
    display: flex;
    height: 217px;
}
.filter__rate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 168px;
}
.filter__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    margin-top: 29px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 50px;
}
.filter__sublist {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 45px;
}
.filter__subitem {
    justify-content: space-between;
    margin-bottom: 23px;
}
.info {
    height: 85px;
    display: flex;
    align-items: center;
    align-content: center;
}
.info__sublist {
    display: flex;
}
.info__item {
    display: flex;
}
.info__subitem {
    margin-right: 33px;
}
.catalog__item {
    display: flex;
    align-items: center;
    height: 150px;
    border-top: 2px solid #e5e5e5;
    max-width: 1205px;
}
.catalog__item:last-child {
    border-bottom: 2px solid #e5e5e5;
}
.catalog__title {
    margin-top: 30px;
}
.catalog-test {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.catalog__picture {
    margin-left: 73px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
}
.catalog__list {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.catalog-wrapper {
    display: flex;
    align-content: flex-end;
    flex-direction: column;
}
.catalog-wrapper--text {
    display: flex;
    justify-content: flex-start;
}
.catalog__text {
    position: relative;
    margin-right: 42px;
}
.catalog-wrapper--buttons {
    display: flex;
    margin-bottom: 30px;
}
.filter__checkbox {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}
.filter__input + .filter__checkbox::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: -40px;
    top: 2px;
}
.filter__input:checked + .filter__checkbox::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 2px;
    left: -40px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.map__google {
    border: none;
    width: 1200px;
    height: 470px;
    frameborder: 0;
}
